<%= link_to "Back to all links", root_path, class: "no_underline text-sm px-3 py-2 rounded bg-gray-100"%>
<h1 class="mt-4"><%= @link.url %></h1>
<%= tag.div @link.description %>
<div class="flex justify-between items-center text-xs">
  <%= link_to view_path(@link), target: :_blank, data: {turbo: false}, class: "px-3 py-1.5 rounded bg-gray-100 no-underline" do %>
    <%= favicon_image_tag @link.domain, class: "inline-block"%>
    <%= truncate @link.url %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
    </svg>
  <% end %>
  <%= tag.div pluralize(@link.views_count, 'view')%>
  <%= button_tag "Copy", class: "px-3 py-1.5 rounded bg-gray-100 no-underline", data: {controller: "clipboard", clipboard_text: view_url(@link)} %>
  <%= link_to "Edit", edit_link_path(@link), class: "font-medium px-3 py-1.5 rounded bg-gray-100 no-underline" if @link.editable_by?(current_user)%>
</div>
<%= line_chart @link.views.group_by_day(:created_at).count %>